
@{
    ViewBag.Title = "React with Flux";
}


<div id="placeHolder">

</div>

@section Scripts
{
    <script>
    var rootUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
    </script>

    <script src="@Url.Content("~/dist/app.js")"></script>
    <script>
        legacy.loadApp('placeHolder');
</script>
}