
@{
    ViewBag.Title = "React with Flux";
    Response.AppendHeader("Access-Control-Allow-Origin", "*");
}



<div id="placeHolder">

</div>

@section Scripts
{
    <script>
    var rootUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
    </script>

    <script src="@Url.Content("~/dist/App.js")"></script>
}